<div class="home">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../assets/img/black-decker/black-decker-logo.jpg" class="d-block w-25" alt="black-decker">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/bosch/bosch-logo.jpg" class="d-block w-25" alt="bosch">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/stanley/stanley-logo.jpg" class="d-block w-25" alt="stanley">
      </div>
    </div>
  </div>
</div>
