<div class="about">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LB-2tih-ZTI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim fugit facere eius exercitationem iste consequuntur dolor iure quia. Eveniet distinctio mollitia libero quam labore, perferendis quaerat assumenda numquam voluptatem doloremque?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eum praesentium optio et odio facere cum delectus, labore eos ipsum, sed, eaque odit aspernatur qui pariatur earum eius quasi modi!</p>
</div>

