<div class="carrito">
    <table class="table table-dark">
      <thead>
        <tr>
          <td class="bg-success" colspan="3">
            <h4>carrito compras
          </h4>
          </td>
        </tr>
        <tr>
          <td>Nombre</td>
          <td>Cantidad</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of (cartList$ | async)">
          <td *ngIf="t.quantity!=0" scope="col">{{t.name}}</td>
            <td *ngIf="t.quantity!=0" scope="col">{{t.quantity}}</td>
            <td *ngIf="t.quantity!=0"><button type="button" class="btn btn-primary btn-sm"  (click)="remove(t)">quitar</button></td>
        </tr>
        <tr>
          <td colspan="3"><h4> Total: {{priceCart$ | async | currency}}</h4></td>
        </tr>
      </tbody>
    </table>

</div>
