h4,h2{
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.carrito{
  background-color: rgb(26, 79, 126);
  border: solid 3px white;
  width: 300px;
  margin-top: 40px;
  height: auto;
}

td{
  text-align: center;
}



