h4{
  text-align: center;
  text-transform: uppercase;
  color: greenyellow;;
}
p{
  text-align: center;
  text-transform: uppercase;
  color: aqua;
}
.carrito{
  background-color: rgb(27, 23, 23);

}
